h3 #{routine[0].title}
table.table.table-condensed
  thead
    tr
      th Activity
      th Duration
      th Song
      th Artist
  tbody
    each song, i in routine[0]._activities
      tr.song(songId=song.songKey, duration=song.duration, id = 'song' + i)
        td #{song.name}
        td #{song.duration}s
        td #{song.songName}
        td #{song.songArtist}
br
.row
  .span1
    button.btn#playbutton(type='button') Play
  .span1
    button.btn#editbutton(type='button') Edit
#music

script
  $('#playbutton').click(function(){
    var idlist = [];
    var durations = [];
    $('.song').each(function(i, element){
      idlist.push(element.getAttribute('songId'));
      durations.push(element.getAttribute('duration'));
      });
    $.get("/playsongs", {"ids":idlist, "durations":durations}, function(html){
      $('#music').html(html);
    });
  });

