h3 Click song to add activity to routine
each song, i in songs
  .selectSong.simplemodal-close(style='padding: 5px; cursor: pointer', songName=song.name, artist=song.artist, key=song.key, duration=song.duration)
    i.icon-ok.icon-white
    | &nbsp; 
    b #{song.name}
    |  by #{song.artist}

script
  $('.selectSong').click(function() {
    $('#songName').val($(this).attr('songName'));
    $('#artist').val($(this).attr('artist'));
    $('#key').val($(this).attr('key'));
    var songDuration = $(this).attr('duration');
    var act = $('#activity').val();
    var song = $('#songName').val();
    var duration = $('#duration').val();
    if (duration == '') {
      duration = songDuration;
    }
    var artist = $('#artist').val();
    var key = $('#key').val();
    $('<li id="'+i+'" artist="'+artist+'" song="'+song+'" key="'+key+'" duration="'+duration+'" activity="'+act+'"><i class="icon-move"></i>&nbsp;'+act+': '+song + ' by ' + artist + '</li>').appendTo('#sortable');
    $('#activity').val('');
    $('#duration').val('');
    $('#songName').val('');
    i++;
    return false;
  })