#fullroutine
  h3 #{routine[0].title}
  .row
    .span2
      b Activity
    .span1
      b Duration
    .span3
      b Song
    .span3
      b Artist
  each song, i in routine[0]._activities
    .row.song(songId=song.songKey, duration=song.duration, id = 'song' + i)
      .span2 #{song.name}
      .span1 #{song.duration}s
      .span3 #{song.songName}
      .span3 #{song.songArtist}
  br
  .row
    .span1
      button.btn(id= 'playbutton', type='button') Play
    .span1
      button.btn(id= 'editbutton', type='button') Edit
  #music

script
  $('#playbutton').click(function(){
    var idlist = [];
    var durations = [];
    $('.song').each(function(i, element){
      idlist.push(element.getAttribute('songId'));
      durations.push(element.getAttribute('duration'));
      });
    console.log(idlist);
    $.get("/playsongs", {"ids":idlist, "durations":durations}, function(html){
      $('#music').html(html);
    });
  });

