h3 Select your song
each song, i in songs
  .selectSong.simplemodal-close(style='padding: 5px')
    input(type='hidden', value=song.name)
    input(type='hidden', value=song.artist)
    input(type='hidden', value=song.key)
    input(type='hidden', value=song.duration)
    div(style='cursor: pointer')
      i.icon-ok.icon-white
      | &nbsp; 
      b #{song.name}
      |  by #{song.artist}

script
  $('.selectSong').click(function() {
    $('#songName').val($(this).children(':nth-child(1)').val());
    $('#artist').val($(this).children(':nth-child(2)').val());
    $('#key').val($(this).children(':nth-child(3)').val());
    $('#song-duration').val($(this).children(':nth-child(4)').val())
    return false;
  })